In [3]:
import pandas as pd
import pyreadstat

df, meta = pyreadstat.read_sav('fake_data.sav')

In [9]:
column_names = [value for value in df.columns.values[1::] if value[3] == 'A']

clean_df = df[column_names].fillna(0)
correct_values_df = clean_df.round(0).astype(int).replace(8, 0).replace(3, 2)
total_sum = pd.DataFrame(correct_values_df.sum(axis=1))

     0
0    9
1    9
2    2
3    8
4    7
..  ..
64   4
65  12
66  13
67   5
68   9

[69 rows x 1 columns]